input{
    display: flex;
    justify-content: center;
   margin-left: 100px;
   width: 200px;
   height: 30px;
   border-radius: 8px;
   padding-left: 6px;
   border: 1px solid rgb(186, 38, 231);
   margin-bottom: 50px
}