.productsContainer{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.productsCard{
    max-width: 300px;
    max-height: 500px;
    padding: 30px;
    border:1px solid rgb(104, 93, 196);
    
}
img{
    width: 250px;
    height: 300px; 
}
section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

